@(controller: control.ControllerInterface)

@main("HTWG CAH") {
<div class="d-flex align-items-center">
    <div class="container justify-centerContainer-center">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/game.css")">
        <div class="container text-center">
            <div class="container align-items-center"><h1 id="current-question">loading...</h1></div>
            <div class="row">
                <div class="col align-items-center">
                    <div class='played-cardstack'>
                    </div>
                    <p class="game-subtitle"  id="player">player 1</p>
                    <div class='cardstack'>
                    </div>
                </div>
                <div class="col align-items-center">
                    <div class='played-cardstack'>
                    </div>
                    <p class="game-subtitle" id="player">player 2</p>
                    <div class='cardstack'>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<script src="@routes.Assets.versioned("javascripts/game.js")" ></script>
}