@(controller: control.ControllerInterface)

@main("HTWG CAH") {
<div class="d-flex align-items-center vh-90">
    <div class="container justify-centerContainer-center">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/game.css")">
        <div class="d-flex justify-content-center">
            <h1 class="game-title">Cards Against Humanity</h1>
        </div>
        <div class="d-flex justify-content-center">
            <p class="game-subtitle">For a proper name and shame, we're still going to need your names:</p>
        </div>
        <ul class="list-group justify-content-center game-name-list">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
            <li class="list-group-item">A fourth item</li>
            <li class="list-group-item">And a fifth one</li>
        </ul>

        <form class="d-flex justify-content-center">
            <button type="submit" class="start-btn" formaction="/startGame">Start Game</button>
        </form>
    </div>
</div>

}