@(controller: control.ControllerInterface)

@main("HTWG CAH") {
<div id="newGame" class="d-flex align-items-center vh-90">
    <div class="container justify-centerContainer-center">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/game.css")">
        <game-title></game-title>
        <player-add></player-add>
    </div>
</div>
    <script src="https://unpkg.com/vue@@latest" ></script>
    <script src="@routes.Assets.versioned("javascripts/newgame.js")" ></script>
}