<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/rules.css")">
    </head>
    <body>
        <div class="rule-body, center" >
            <div class="title">
                <h1 class="index-title"><a href="/">Cards Against Humanity</a></h1>
                <p>A game for horrible people...</p>
            </div>
            <div>
                <div>
                    <h2>How to play</h2>
                    <p>The rules are explained in the following section:</p>
                    <div>
                        <p>The following rules are important:</p>
                        <ul>
                            <li>Try to be as horrible as you can!</li>
                            <li>Don't take it serious or personal, it's just a game.</li>
                            <li>Have fun!</li>
                        </ul>
                    </div>
                    <div>
                        <h3>The Start</h3>
                        <p>First, select the number of Players</p>
                        <img src="@routes.Assets.versioned("images/rules/1.png")" alt="red tile">
                        <p>Now, if you want, you can add your own Cards for the game</p>
                        <img src="@routes.Assets.versioned("images/rules/2.png")" alt="red tile">
                        <p>Write now the names of the Players</p>
                        <img src="@routes.Assets.versioned("images/rules/3.png")" alt="red tile">
                        <h3>The Game</h3>



                    </div>
                </div>
            </div>
        </div>

    </body>
</html>